<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619338813846-4rmeatitcvgphtrff2556hjkt9o3ks97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619338813846-4rmeatitcvgphtrff2556hjkt9o3ks97</string>
	<key>API_KEY</key>
	<string>AIzaSyAK9JDULQdknY27WIQxH8aNdsYAauXbLwA</string>
	<key>GCM_SENDER_ID</key>
	<string>619338813846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.new1</string>
	<key>PROJECT_ID</key>
	<string>test-70f90</string>
	<key>STORAGE_BUCKET</key>
	<string>test-70f90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619338813846:ios:8c8c550daba486ae74cdb7</string>
	<key>DATABASE_URL</key>
	<string>https://test-70f90-default-rtdb.firebaseio.com</string>
</dict>
</plist>